extends ../layouts/application.pug

block content
  +confirmModal

  table.table.table-striped.mb-4
    thead
      tr
        th= t('views.statuses.list.id')
        th= t('views.statuses.list.name')
        th= t('views.statuses.list.createdAt')
        th= t('views.statuses.list.actions')
    tbody
      if statuses.length === 0
        tr
          td.text-center.p-4(colspan=4)= t('views.statuses.list.empty')
      else
        each status in statuses
          tr
            td.align-middle= status.id
            td.align-middle= status.name
            td.align-middle= new Date(status.createdAt).toDateString()
            td.form-inline
              a.btn.btn-link(href=`/statuses/${status.id}/edit`)= t('views.statuses.list.edit')
              button.btn.btn-link(
                type='button'
                style='color: red;'
                data-toggle='modal'
                data-target='#confirm'
                data-method='delete'
                data-action=`/statuses/${status.id}`
              )= t('views.statuses.list.delete')
  a.btn.btn-primary(href=route('newStatus'))= t('views.statuses.list.new')
